{% extends "layout.html" %}
{% block body %}
<h1>Upload source and target images</h1>
<form class="transfer-form" action="" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="source" class="upload-image"/>
    </div>
    <div>
        <input type="file" name="target" class="upload-image"/>
    </div>
    <input type="button" class="transfer-button" value="AJAX"/>
</form>
<img id="source-image" src="#"/>
<img id="target-image" src="#"/>
<img id="transfer-image" src="#"/>
{% endblock %}